extend base.pug 

block scripts 
    script(src='/static/index.js')

block style
    style
      include ../static/style.css
block content
    section#content 
      div Welcome To Krishna's Dance Place 
      div.small Eat learn play sleep
    section#mission
       h3 Our Mission 
       div.container
        div.card 
          h4 Dance perfection
          div.card-box
            div.card-img 
              img(src="/static/img/1.png", alt="")
            div.card-content 
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sit?
        div.card 
          h4 Enlighten your dance
          div.card-box
            div.card-img 
              img(src="/static/img/2.png", alt="")
            div.card-content 
             | Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sit? 
        div.card 
          h4 Our facilites
          div.card-box
            div.card-img 
              img(src="/static/img/3.jpg", alt="")
            div.card-content 
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sit?
    section#spons 
        h2 Our Sponser
        div.sponser 
          img(src="/static/img/tesla.png", alt="sponser logo") 
          img(src="/static/img/google-pay.png", alt="sponser logo") 
          img(src="/static/img/amazon-pay.png", alt="sponser logo") 
          img(src="/static/img/microsoft.png", alt="sponser logo") 